.btn-social-email
{
    background: gray;
    color: white;
}

.btn-social-facebook
{
    background: #1877f2;
    color: white;
}


.btn-social-snapchat
{
    background: #fffc00;
    color: black;
}

/*
.btn-social-instagram
{

}
*/
